.app-container {
  background-image: linear-gradient(to right, #ffebeb, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.list-items {
  list-style-type: none;
  margin-left: 0px;
}

.image {
  height: 40px;
  width: 40px;
}

.emoji-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}

.thank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.visible {
  display: none;
}

.hide {
  display: none;
}
